Lets view the biomet data, full output and meta data files in the Maize or Sorghum Folders and filter out what is required for the further analysis.

In [2]:
import pandas as pd

In [35]:
biomet_data = pd.read_csv("/Users/kashyapava/Desktop/Crop Sciences/Gap Filling Procedure/All Data Files/CH4 TOVI/Sorghum/08:22 to 09:23 BM & FO Data/eddypro_Sorghum_2023_01-02_CH4_biomet_2023-03-16T163108_adv.csv")
biomet_data.head(5)

,date,time,DOY,SWin,SWout,LWin,LWout,Rr,Rn,Ta,...,Ts_4_5_1,SWC_4_6_1,Ts_4_6_1,SWC_4_7_1,Ts_4_7_1,SWC_4_8_1,Ts_4_8_1,SWC_4_9_1,Ts_4_9_1,P_rain
0,[yyyy-mm-dd],[HH:MM],[ddd.ddd],[W/m^2],[W/m^2],[W/m^2],[W/m^2],[W/m^2],[W/m^2],[K],...,[K],[m^3/m^3],[K],[m^3/m^3],[K],[m^3/m^3],[K],[m^3/m^3],[K],[m]
1,2023-01-11,15:30,11.6457,84.9000,5.94100,316.600,364.900,0.700000E-01,30.6100,-9999,...,277.653,0.382000,278.055,0.472000,278.297,0.499000,278.783,0.440000,279.807,0.00000
2,2023-01-11,16:00,11.6665,14.1300,0.991000,332.300,360.000,0.690000E-01,-14.5600,-9999,...,277.673,0.386000,278.055,0.470000,278.297,0.495000,278.803,0.439000,279.787,0.00000
3,2023-01-11,16:30,11.6873,1.92400,-0.800000E-02,345.600,357.500,3.05300,-9.98000,-9999,...,277.693,0.378000,278.055,0.480000,278.297,0.502000,278.803,0.434000,279.787,0.00000
4,2023-01-11,17:00,11.7082,-1.30000,-0.700000E-01,330.600,354.100,-0.108000,-24.7600,-9999,...,277.713,0.376000,278.075,0.475000,278.297,0.497000,278.803,0.446000,279.807,0.00000

In [36]:
biomet_data.tail(5)

,date,time,DOY,SWin,SWout,LWin,LWout,Rr,Rn,Ta,...,Ts_4_5_1,SWC_4_6_1,Ts_4_6_1,SWC_4_7_1,Ts_4_7_1,SWC_4_8_1,Ts_4_8_1,SWC_4_9_1,Ts_4_9_1,P_rain
2318,2023-02-28,22:00,59.9165,-2.59100,0.873000,279.800,334.200,-0.340000,-57.8300,279.203,...,279.663,0.489000,279.539,0.463000,279.334,0.502000,279.232,0.449000,279.457,0.00000
2319,2023-02-28,22:30,59.9373,-2.97800,0.640000,273.700,333.400,-0.218000,-63.3400,279.196,...,279.683,0.482000,279.539,0.467000,279.334,0.501000,279.232,0.452000,279.457,0.00000
2320,2023-02-28,23:00,59.9581,-3.23400,0.458000,270.500,331.100,-0.148000,-64.2800,278.392,...,279.704,0.486000,279.539,0.473000,279.355,0.496000,279.232,0.438000,279.457,0.00000
2321,2023-02-28,23:30,59.9790,-3.08400,0.905000,267.800,329.200,-0.298000,-65.4000,277.988,...,279.704,0.480000,279.560,0.466000,279.355,0.492000,279.252,0.434000,279.478,0.00000
2322,2023-03-01,00:00,60.0000,-2.78700,1.69500,266.400,328.000,-0.713000,-66.1100,278.092,...,279.704,0.487000,279.581,0.466000,279.355,0.495000,279.252,0.439000,279.478,0.00000

In [3]:
biomet_data.columns

Index(['date', 'time', 'DOY', 'SWin', 'SWout', 'LWin', 'LWout', 'Rr', 'Rn',
       'Ta_1_1_1', 'RH', 'Tc_1_1_1', 'PPFD', 'PPFDr', 'SHF_1_1_1', 'SHF_1_1_2',
       'Ts_1_1_1', 'SWC_1_1_1', 'SWC_1_2_1', 'SWC_1_3_1', 'SWC_1_4_1',
       'SWC_2_1_1', 'SWC_2_2_1', 'SWC_2_3_1', 'SWC_2_4_1', 'Ts_1_1_1.1',
       'Ts_1_2_1', 'Ts_1_3_1', 'Ts_1_4_1', 'Ts_2_1_1', 'Ts_2_2_1', 'Ts_2_3_1',
       'Ts_2_4_1', 'SWC_3_1_1', 'Ts_3_1_1', 'SWC_3_2_1', 'Ts_3_2_1',
       'SWC_3_3_1', 'Ts_3_3_1', 'SWC_3_4_1', 'Ts_3_4_1', 'SWC_3_5_1',
       'Ts_3_5_1', 'SWC_3_6_1', 'Ts_3_6_1', 'SWC_3_7_1', 'Ts_3_7_1',
       'SWC_3_8_1', 'Ts_3_8_1', 'SWC_3_9_1', 'Ts_3_9_1', 'SWC_4_1_1',
       'Ts_4_1_1', 'SWC_4_2_1', 'Ts_4_2_1', 'SWC_4_3_1', 'Ts_4_3_1',
       'SWC_4_4_1', 'Ts_4_4_1', 'SWC_4_5_1', 'Ts_4_5_1', 'SWC_4_6_1',
       'Ts_4_6_1', 'SWC_4_7_1', 'Ts_4_7_1', 'SWC_4_8_1', 'Ts_4_8_1',
       'SWC_4_9_1', 'Ts_4_9_1', 'P_rain'],
      dtype='object')

Biomet Data has the information of the radiation, temperature, soil properites and precipitation.

In [7]:
full_output_data = pd.read_csv("/Users/kashyapava/Desktop/Crop Sciences/Gap Filling Procedure/All Data Files/CH4 TOVI/Maize/eddypro_MaizeControl_2022_07-08_CH4_full_output_2022-09-21T135522_adv.csv", header = 1)
full_output_data.head(5)

,filename,date,time,DOY,daytime,file_records,used_records,Tau,qc_Tau,rand_err_Tau,...,w/h2o_cov,w/ch4_cov,vin_sf_mean,co2_mean,h2o_mean,dew_point_mean,co2_signal_strength_7500_mean,air_t_mean,air_p_mean,rssi_77_mean
0,NaN,[yyyy-mm-dd],[HH:MM],[ddd.ddd],[1=daytime],[#],[#],[kg+1m-1s-2],[#],[kg+1m-1s-2],...,--,--,--,--,--,--,--,--,--,--
1,not_enough_data,2022-08-01,00:30,213.020,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
2,not_enough_data,2022-08-01,01:00,213.041,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
3,not_enough_data,2022-08-01,01:30,213.062,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,not_enough_data,2022-08-01,02:00,213.083,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [11]:
for c in full_output_data.columns:
    print(c)

filename
date
time
DOY
daytime
file_records
used_records
Tau
qc_Tau
rand_err_Tau
H
qc_H
rand_err_H
LE
qc_LE
rand_err_LE
co2_flux
qc_co2_flux
rand_err_co2_flux
h2o_flux
qc_h2o_flux
rand_err_h2o_flux
ch4_flux
qc_ch4_flux
rand_err_ch4_flux
H_strg
LE_strg
co2_strg
h2o_strg
ch4_strg
co2_v-adv
h2o_v-adv
ch4_v-adv
co2_molar_density
co2_mole_fraction
co2_mixing_ratio
co2_time_lag
co2_def_timelag
h2o_molar_density
h2o_mole_fraction
h2o_mixing_ratio
h2o_time_lag
h2o_def_timelag
ch4_molar_density
ch4_mole_fraction
ch4_mixing_ratio
ch4_time_lag
ch4_def_timelag
sonic_temperature
air_temperature
air_pressure
air_density
air_heat_capacity
air_molar_volume
ET
water_vapor_density
e
es
specific_humidity
RH
VPD
Tdew
u_unrot
v_unrot
w_unrot
u_rot
v_rot
w_rot
wind_speed
max_wind_speed
wind_dir
yaw
pitch
roll
u*
TKE
L
(z-d)/L
bowen_ratio
T*
model
x_peak
x_offset
x_10%
x_30%
x_50%
x_70%
x_90%
un_Tau
Tau_scf
un_H
H_scf
un_LE
LE_scf
un_co2_flux
co2_scf
un_h2o_flux
h2o_scf
un_ch4_flux
ch4_scf
spikes_hf
amplitude_resolution_hf
drop_out_hf
absolute_limits_hf
skewness_kurtosis_hf
skewness_kurtosis_sf
discontinuities_hf
discontinuities_sf
timelag_hf
timelag_sf
attack_angle_hf
non_steady_wind_hf
u_spikes
v_spikes
w_spikes
ts_spikes
co2_spikes
h2o_spikes
ch4_spikes
chopper_LI-7500
detector_LI-7500
pll_LI-7500
sync_LI-7500
not_ready_LI-7700
no_signal_LI-7700
re_unlocked_LI-7700
bad_temp_LI-7700
laser_temp_unregulated_LI-7700
block_temp_unregulated_LI-7700
motor_spinning_LI-7700
pump_on_LI-7700
top_heater_on_LI-7700
bottom_heater_on_LI-7700
calibrating_LI-7700
motor_failure_LI-7700
bad_aux_tc1_LI-7700
bad_aux_tc2_LI-7700
bad_aux_tc3_LI-7700
box_connected_LI-7700
mean_value_RSSI_LI-7500
u_var
v_var
w_var
ts_var
co2_var
h2o_var
ch4_var
w/ts_cov
w/co2_cov
w/h2o_cov
w/ch4_cov
vin_sf_mean
co2_mean
h2o_mean
dew_point_mean
co2_signal_strength_7500_mean
air_t_mean
air_p_mean
rssi_77_mean

In [40]:
full_output_data[["ch4_flux", "qc_ch4_flux", "rand_err_ch4_flux"]].tail(5)

           ch4_flux qc_ch4_flux rand_err_ch4_flux
1484       0.116970           1      0.220751E-01
1485  -0.725479E-01           1      0.381415E-02
1486   0.516810E-01           2      0.150228E-01
1487  -0.576880E-02           1      0.363088E-02
1488  -0.132134E-02           1      0.352667E-03

In [52]:
full_output_data["qc_ch4_flux"].value_counts()

qc_ch4_flux
-9999    566
0        518
1        304
2        100
[#]        1
Name: count, dtype: int64

In [56]:
meta_data = pd.read_csv("/Users/kashyapava/Desktop/Crop Sciences/Gap Filling Procedure/All Data Files/CH4 TOVI/Maize/eddypro_MaizeControl_2022_07-08_CH4_metadata_2022-09-21T135522_adv.csv")
meta_data.tail(5)

,filename,date,time,DOY,latitude,longitude,altitude,canopy_height,displacement_height,roughness_length,...,ch4_irga_eastward_separation,ch4_irga_vertical_separation,ch4_irga_tube_length,ch4_irga_tube_diameter,ch4_irga_tube_flowrate,ch4_irga_kw,ch4_irga_ko,ch4_irga_hpath_length,ch4_irga_vpath_length,ch4_irga_tau
1483,2022-08-31T213000_Maize-Control-Gill.ghg,2022-08-31,22:00,243.9165,40.062855,-88.200905,220.3,0.97,0.6499,0.1455,...,-60.0,0.0,-999900.0,-9999000.0,-599940000.0,-9999.0,-9999.0,6.35,50.0,0.1
1484,2022-08-31T220000_Maize-Control-Gill.ghg,2022-08-31,22:30,243.9373,40.062855,-88.200905,220.3,0.97,0.6499,0.1455,...,-60.0,0.0,-999900.0,-9999000.0,-599940000.0,-9999.0,-9999.0,6.35,50.0,0.1
1485,2022-08-31T223000_Maize-Control-Gill.ghg,2022-08-31,23:00,243.9581,40.062855,-88.200905,220.3,0.97,0.6499,0.1455,...,-60.0,0.0,-999900.0,-9999000.0,-599940000.0,-9999.0,-9999.0,6.35,50.0,0.1
1486,2022-08-31T230000_Maize-Control-Gill.ghg,2022-08-31,23:30,243.9790,40.062855,-88.200905,220.3,0.97,0.6499,0.1455,...,-60.0,0.0,-999900.0,-9999000.0,-599940000.0,-9999.0,-9999.0,6.35,50.0,0.1
1487,2022-08-31T233000_Maize-Control-Gill.ghg,2022-09-01,00:00,244.0000,40.062855,-88.200905,220.3,0.97,0.6499,0.1455,...,-60.0,0.0,-999900.0,-9999000.0,-599940000.0,-9999.0,-9999.0,6.35,50.0,0.1

In [55]:
for c in meta_data.columns:
    print(c)

filename
date
time
DOY
latitude
longitude
altitude
canopy_height
displacement_height
roughness_length
file_length
acquisition_frequency
master_sonic_manufacturer
master_sonic_model
master_sonic_height
master_sonic_wformat
master_sonic_wref
master_sonic_north_offset
master_sonic_hpath_length
master_sonic_vpath_length
master_sonic_tau
co2_irga_manufacturer
co2_irga_model
co2_measure_type
co2_irga_northward_separation
co2_irga_eastward_separation
co2_irga_vertical_separation
co2_irga_tube_length
co2_irga_tube_diameter
co2_irga_tube_flowrate
co2_irga_kw
co2_irga_ko
co2_irga_hpath_length
co2_irga_vpath_length
co2_irga_tau
h2o_irga_manufacturer
h2o_irga_model
h2o_measure_type
h2o_irga_northward_separation
h2o_irga_eastward_separation
h2o_irga_vertical_separation
h2o_irga_tube_length
h2o_irga_tube_diameter
h2o_irga_tube_flowrate
h2o_irga_kw
h2o_irga_ko
h2o_irga_hpath_length
h2o_irga_vpath_length
h2o_irga_tau
ch4_irga_manufacturer
ch4_irga_model
ch4_measure_type
ch4_irga_northward_separation
ch4_irga_eastward_separation
ch4_irga_vertical_separation
ch4_irga_tube_length
ch4_irga_tube_diameter
ch4_irga_tube_flowrate
ch4_irga_kw
ch4_irga_ko
ch4_irga_hpath_length
ch4_irga_vpath_length
ch4_irga_tau

Meta data has information that is not relevant to the contex tof gap filling.

Some variables from Biomet data and the others from full output are required for gap filling methane fluxes.

Note: The fluxes used from the full output file are the "corrected gas fluxes".

There are some other predictors of which we have no information:
Snow Depth (SD)
Water Table Depth (WTD)
Net Energy Exchange (NEE)
Ecosystem Respiration (Day time and Night time: RECO_DT and RECO_NT)
Gross Primary Productivity (Day time and Night time: GPP_DT and GPP_NT)
Soil Heat (G)

In [8]:
misc_data = pd.read_csv("/Users/kashyapava/Desktop/Crop Sciences/Gap Filling Procedure/All Data Files/CH4 TOVI/Maize/eddypro_maizecontrol2022_12redo_biomet_2023-03-15T161827_adv.csv")
misc_data.head(5)

,date,time,DOY,SWin,SWout,LWin,LWout,Rr,Rn,Ta_1_1_1,...,Ts_4_5_1,SWC_4_6_1,Ts_4_6_1,SWC_4_7_1,Ts_4_7_1,SWC_4_8_1,Ts_4_8_1,SWC_4_9_1,Ts_4_9_1,P_rain
0,[yyyy-mm-dd],[HH:MM],[ddd.ddd],[W/m^2],[W/m^2],[W/m^2],[W/m^2],[W/m^2],[W/m^2],[K],...,[K],[m^3/m^3],[K],[m^3/m^3],[K],[m^3/m^3],[K],[m^3/m^3],[K],[m]
1,2022-12-01,00:30,335.0208,0.00000,0.941000,194.400,284.000,-9999,-95.0000,267.361,...,279.150,0.113000,280.097,0.234000,280.764,0.318000,281.420,0.393000,282.380,0.00000
2,2022-12-01,01:00,335.0416,0.00000,1.14300,194.300,283.100,-9999,-94.2000,267.087,...,279.068,0.109000,280.076,0.236000,280.722,0.321000,281.440,0.396000,282.420,0.00000
3,2022-12-01,01:30,335.0624,0.00000,1.05100,194.400,282.500,-9999,-93.4000,266.832,...,279.048,0.113000,280.056,0.239000,280.722,0.320000,281.440,0.398000,282.420,0.00000
4,2022-12-01,02:00,335.0833,0.00000,0.912000,194.600,281.900,-9999,-92.5000,266.694,...,279.027,0.114000,279.994,0.237000,280.722,0.319000,281.420,0.397000,282.420,0.00000

In [9]:
misc_data.columns

Index(['date', 'time', 'DOY', 'SWin', 'SWout', 'LWin', 'LWout', 'Rr', 'Rn',
       'Ta_1_1_1', 'RH', 'Tc_1_1_1', 'PPFD', 'PPFDr', 'SHF_1_1_1', 'SHF_1_1_2',
       'Ts_1_1_1', 'SWC_1_1_1', 'SWC_1_2_1', 'SWC_1_3_1', 'SWC_1_4_1',
       'SWC_2_1_1', 'SWC_2_2_1', 'SWC_2_3_1', 'SWC_2_4_1', 'Ts_1_1_1.1',
       'Ts_1_2_1', 'Ts_1_3_1', 'Ts_1_4_1', 'Ts_2_1_1', 'Ts_2_2_1', 'Ts_2_3_1',
       'Ts_2_4_1', 'SWC_3_1_1', 'Ts_3_1_1', 'SWC_3_2_1', 'Ts_3_2_1',
       'SWC_3_3_1', 'Ts_3_3_1', 'SWC_3_4_1', 'Ts_3_4_1', 'SWC_3_5_1',
       'Ts_3_5_1', 'SWC_3_6_1', 'Ts_3_6_1', 'SWC_3_7_1', 'Ts_3_7_1',
       'SWC_3_8_1', 'Ts_3_8_1', 'SWC_3_9_1', 'Ts_3_9_1', 'SWC_4_1_1',
       'Ts_4_1_1', 'SWC_4_2_1', 'Ts_4_2_1', 'SWC_4_3_1', 'Ts_4_3_1',
       'SWC_4_4_1', 'Ts_4_4_1', 'SWC_4_5_1', 'Ts_4_5_1', 'SWC_4_6_1',
       'Ts_4_6_1', 'SWC_4_7_1', 'Ts_4_7_1', 'SWC_4_8_1', 'Ts_4_8_1',
       'SWC_4_9_1', 'Ts_4_9_1', 'P_rain'],
      dtype='object')